.post-list__like{
    background-image: url(../../../Images/Like.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
    width: 26px;
    height: 19px;
    border: 0;
    align-self: center;
    cursor: pointer;
    transition-duration: 1s;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list__like:hover{
    opacity: 0.5;
}