.button-card-delete{
    background: transparent no-repeat url(../../Images/Delete.svg);
    width: 18px;
    height: 18px;
    background-position: 50% 50%;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition-duration: 1s;
}

.button-card-delete:hover{
    opacity: 0.5;
}