.popup__close {
    background: transparent url(../../../Images/Close.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    right: -40px;
    top: -40px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-duration: 1s;
}

.popup__close:hover {
    opacity: 0.6;
    
}

@media screen and (max-width: 540px) {
    .popup__close {
        right: 0;
        top: -48px;
        background: transparent url(../../../Images/Close_Icon_320px.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
}