@import url(./vendor/normalize.css);
@import url(./vendor/Fonts/fonts.css);

@import url(./blocks/root/root.css);

@import url(./blocks/page-site/page-site.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);

@import url(./blocks/edit-button/edit-button.css);

@import url(./blocks/add-bottun/add-bottun.css);

@import url(./blocks/post-list/post-list.css);
@import url(./blocks/post-list/__info/post-list__info.css);
@import url(./blocks/post-list/__item/post-list__item.css);
@import url(./blocks/post-list/__title/post-list__title.css);
@import url(./blocks/post-list/__like/post-list__like.css);
@import url(./blocks/post-list/__like/_active/post-list__like_active.css);
@import url(./blocks/post-list/__photo/post-list__photo.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/extra/extra.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__add/popup__add.css);

@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/button-card-delete/button-card-delete.css);

@import url(./blocks/add_popup/add_popup.css);

@import url(./blocks/preview-popup/preview-popup.css);
@import url(./blocks/preview-popup/__title/preview-popup__title.css);
@import url(./blocks/preview-popup/__img/preview-popup__img.css);
@import url(./blocks/preview-popup/__container/preview-popup__container.css);

@import url(./blocks/error-message/error-message.css);
@import url(./blocks/error-message/_visible/error-message_visible.css);
@import url(./blocks/popup/__text/_type/_error/popup__text_type_error.css);
@import url(./blocks/popup/__add/_disabled/popup__add_disabled.css);

@import url(./blocks/like-counter/like-counter.css);

@import url(./blocks/deleat-submit-popup/__container/deleat-submit-popup__container.css);
@import url(./blocks/deleat-submit-popup/deleat-submit-popup.css);
@import url(./blocks/deleat__submit/deleat__submit.css);

@import url(./blocks/change-avatar/change-avatar.css);

@import url(./blocks/change-avatar-popup/change-avatar-popup.css);
@import url(./blocks/change-avatar-popup/__container/change-avatar-popup__container.css);

@import url(./blocks/button-confirm-deleat/button-confirm-deleat.css);

@import url(./blocks/button-card-delete/_disable/button-card-delete_disable.css);

@import url(./blocks/login-form/login-form.css);
@import url(./blocks/login-form/__title/login-form__title.css);
@import url(./blocks/login-form/__input/login-form__input.css);
@import url(./blocks/login-form/__button/login-form__button.css);
@import url(./blocks/login-form/__link/login-form__link.css);
@import url(./blocks/login-form/__text/login-form__text.css);



@import url(./blocks/infoTooltip/infoTooltip.css);
@import url(./blocks/infoTooltip/__image/infoTooltip__image.css);
@import url(./blocks/infoTooltip/__text/infoTooltip__text.css);

@import url(./blocks/header/__link/_email/header__link_email.css);
@import url(./blocks/header/__link/_exist/header__link_exit.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__link/header__link.css);