.header__link_exit {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  height: 22px;
  margin: 0px;
  transition-duration: 1s;
}

.header__link_exit:hover {
  opacity: 0.6;
}

@media screen and (max-width:600px) {
  .header__link_exit {
    margin-right: 30px;
    font-size: 14px;
    line-height: 17px;
  }
}