.edit-button{
    width: 24px;
    height: 24px;
    align-self: center;
    padding: 0;
    border: 1px solid white;
    background-color: black;
    background-image: url(../../Images/Edit.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    transition-duration: 1s;
}

.edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 600px){
    .edit-button{
        width: 18px;
        height: 18px;
    }
}