.popup__add_disabled {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: default;
    background-color: white;
    color: #000000;
    opacity: 0.2;
}

.popup__add_disabled:hover{
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}